body {
}

.header{
    text-align:center;
    position:absolute;
    top:30%;
    left:50px;
    transform:translate(-50%, -50%)
}

.header h1{
    color: #000000;
    font-size:46px;
}

.header p{
    color:#000000;
    font-size:12px;
}